@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Noto Sans KR", sans-serif;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: #efefef;
}
